.hero {
  background-color: #fff;
  height: 390px;

  .main {
    margin-top: 48px !important;
    text-align: center;

    span { display: block; }

    .profile-picture {
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      display: inline-block;
      height: 160px;
      position: relative;
      width: 160px;

      i {
        background-color: $off-white;
        border-radius: 1.5px;
        bottom: 5px;
        color: $blue;
        font-size: 26px;
        padding: 1px 3px;
        position: absolute;
        right: 5px;
      }
    }

    .counters > div { display: inline-block; }
  }

  .about {
    i { color: $blue; }

    p {
      font-size: 22px;
      letter-spacing: 1.5px;
      margin-bottom: 36px;
      margin-top: 34px;

      i { padding-right: 4px; }
    }

    ul { list-style-type: none; }

    li {
      margin-bottom: 10px !important;
      vertical-align: bottom;

      i { font-size: 20px; }
    }

    ul,
    li {
      margin: 0;
      padding: 0;
    }
  }
}

.profile-name {
  font-size: 18px;
  margin: 10px 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.profile-title {
  color: rgba($black, .5);
  font-size: 14px;
}

.profile-location {
  color: rgba($black, .35);
  font-size: 13px;
}

.counters {
  color: $blue;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-top: 20px;

  & > div:last-child { margin-left: 20px; }

  span {
    color: $black;
    font-size: 9px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }
}

.about-list-title {
  width: 90px;
}

.about-list-desc {
  color: rgba($black, .4);
}

.about-list-title,
.about-list-desc {
  display: inline-block;
}
