.btn {
  color: rgba($black, .4);
  cursor: pointer;
  background-color: transparent;
  border: solid 2px rgba($black, .4);
  border-radius: 6px;
  box-shadow: none;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
  margin-top: 28px;
  outline: 0;
  padding: 11px 29px 13px;
  text-transform: uppercase;
  transition: background 100ms ease-in-out;

  &:hover {
    background-color: rgba($black, .4);
    color: #fff;
  }

  &.primary {
    color: $blue;
    border-color: $blue;

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}
